/* navigation */
:root {
    scroll-padding-top: 8rem;
}

.name {
    font-size: 2rem;
}

.nav ul {
    width: 60%;
}

.link {
    font-size: 1.6rem;
}

.header-text p {
    font-size: 2rem;
}

.header-text h1 {
    font-size: 3.6rem;
}

/* section hobbies */
.hobbies-container {
    padding: 3rem;
    height: 65vh;
}

.card {
    margin: 1rem 2rem;
    height: 45vh;
}

/* section skills */
.technologies {
    width: 75%;
}

/* footer */
.contact {
    padding: 5rem;
    width: 100%;
    max-width: 1000px;
}

.contact h3 {
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
}

.info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-wrapper a {
    font-size: 2rem;
}

.info-wrapper p {
    font-size: 2rem;
}

.my-links,
.my-contact {
    padding-left: 3rem;
}

.info-wrapper .fa-github-square,
.fa-linkedin {
    padding: 1rem 0;
    font-size: 2.4rem;
}

.year {
    font-size: 2rem;
}