*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7.2rem;
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(34, 145, 165);
    --third-color: rgb(76, 88, 173);
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

/* background with secondary color */
.bcg-1 {
    background-color: var(--secondary-color);
}

/* background with third color */
.bcg-2 {
    background-color: var(--third-color);
}

/* scrollspy */
.active {
    border-bottom: 1px solid var(--primary-color);
}

/* navigation */
.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
    opacity: .95;
    transition: background-color .5s;
    z-index: 100;
}

.name {
    padding: .5rem 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.5;
    color: var(--primary-color);
}

.navbar {
    padding: .5rem 1.5rem;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
}

.navbar:focus {
    border: 1px solid var(--primary-color);
}

.navbar i {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.nav-mobile {
    position: absolute;
    top: 0;
    height: 100vh;
    left: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--third-color);
    background: linear-gradient(327deg, rgba(76, 88, 173, 1) 0%, rgba(34, 145, 165, 1) 70%);
    transition: left .5s;
    z-index: -1;
}

/* class to show .nav-mobile on click */
.show {
    left: 0;
}

.nav-item {
    display: block;
    margin: 1rem 0;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    text-decoration: none;
}

.nav ul {
    display: none;
}


/* header */
.header-img {
    position: relative;
    height: 100vh;
    background-image: url('./img/header-640.jpg');
    background-position: center left;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}

.header-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--third-color);
    background: linear-gradient(327deg, rgba(76, 88, 173, .7) 0%, rgba(34, 145, 165, .65) 70%);
    z-index: -1;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    height: 100%;
    color: var(--primary-color);
}

.header-text p {
    margin: 2rem 0;
    font-size: 1.2rem;
}

.header-text h1 {
    font-size: 1.6rem;
    font-weight: bold;
}

.header-text button {
    margin-top: 5rem;
    padding: .5rem 1rem;
    background: transparent;
    border: 0;
}

.header-text button a {
    font-size: 2.6rem;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

/* section about */
/* common class for all sections*/
.wrapper {
    margin: 0 auto;
    padding: 2rem 1rem;
    max-width: 1000px;
}

.about {
    background-color: #ddd;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-about {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(167, 167, 167);
}

.about-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.about-info {
    margin: 1rem 0;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

.about-info p {
    padding: .5rem 0;
    font-size: 1.6rem;
    line-height: 1.5;
}

.about-info p:last-child {
    padding-bottom: 0;
}

/* section experience */
.experience {
    position: relative;
    background-image: url('./img/exp-640.jpg');
    background-size: cover;
    background-position: right;
}

.experience-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--third-color);
    background: linear-gradient(327deg, rgba(76, 88, 173, .85) 0%, rgba(34, 145, 165, .3) 70%);
}

.experience-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.work-info {
    margin: 1rem 0;
    padding: 1.5rem;
    background-color: #fff;
    opacity: .6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgb(92, 92, 92);
}

.work-info h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.work-info h3 {
    margin: 1.5rem 0 .5rem;
    font-size: 1.8rem;
    word-spacing: 3px;
    text-align: center;
}

.company-name {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    word-spacing: 2px;
}

.work-descr {
    padding: .5rem 0;
    font-size: 1.5rem;
    line-height: 1.5;
}

.work-descr:last-child {
    padding-bottom: 0;
}

/* section skills */
.skills {
    background: var(--third-color);
    background: linear-gradient(327deg, rgba(76, 88, 173, 1) 0%, rgba(34, 145, 165, 1) 70%);
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.technologies {
    width: 80%;
}

.tech-wrapper {
    margin: 2rem 0;
}

.tech-wrapper h2 {
    margin: 2.5rem 0;
    text-align: center;
    font-size: 1.6rem;
}

.skills-fonts {
    display: flex;
    justify-content: space-between;
}

.skills .fab {
    font-size: 4.5rem;
}

.tech-wrapper span {
    align-self: center;
    font-size: 2.6rem;
}

.education-box {
    margin-bottom: 1rem;
    padding: 1rem;
}

.education-box h3 {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.6rem;
}

.school-info {
    margin: 0.5rem 0;
    padding: 0.5rem;
}

/* section hobbies */
.hobbies {
    background-color: #eee;
}

.hobbies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    margin: .7rem 0;
    height: 30vh;
    width: 95%;
    text-align: center;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}

.card button {
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: 2rem;
    background: transparent;
    font-size: 2rem;
    color: var(--primary-color);
    border: none;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    cursor: crosshair;
    z-index: 10;
}

.card-one {
    background-image: url('./img/card-one.jpg');
}

.card-two {
    background-image: url('./img/card-two.jpg');
}

.card-three {
    background-image: url('./img/card-three.jpg');
}

.card-text {
    position: absolute;
    padding: 3rem 1.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, .85);
    clip-path: circle(0 at 50% 90%);
    transition: clip-path .8s;
}

.card button:hover~.card-text {
    clip-path: circle(150% at 50% 90%);
}

.card-text h1 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.card-text h3 {
    margin-bottom: 0.5rem;
}

.card-text p {
    font-size: 1.4rem;
}

/* footer */
footer {
    background-color: var(--third-color);
}

.contact {
    padding: 2rem;
    min-height: 30vh;
}

.contact h3,
.contact p,
.contact a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--primary-color);
}

.contact h3 {
    text-align: center;
}

.contact a {
    text-decoration: none;
}

.fa-github-square {
    font-size: 1.6rem;
}

.contact p:last-child {
    padding-top: 2.5rem;
    padding-bottom: 0;
    text-align: center;
}

@media (min-width: 375px) {
    /* navigation */
    .name {
        font-size: 1.6rem;
    }

    /* header */
    .header-text p {
        font-size: 1.4rem;
    }

    .header-text h1 {
        font-size: 2.1rem;
    }
}

@media (min-width: 576px) {

    /* navigation */
    .name {
        font-size: 1.8rem;
    }

    .navbar i {
        font-size: 2rem;
        color: var(--primary-color);
    }

    /* header */
    .header-text p {
        font-size: 1.6rem;
    }

    .header-text h1 {
        font-size: 2.8rem;
    }

    .header-text button i {
        font-size: 3.6rem;
    }

    /* section about */
    .about-container {
        min-height: 68vh;
    }

    .card-about {
        position: relative;
    }

    .about-image {
        position: absolute;
        top: 7%;
        left: 75%;
        transform: translate(-50%, -50%);
    }

    .about-image img {
        width: 180px;
        height: 180px;
        border: 5px solid #eee;
        border-radius: 50%;
    }

    .about-info {
        margin: 10rem 0 1rem;
        padding: 3rem 2rem 2rem;
    }
    
    .about-info p {
        padding: .5rem 0;
        word-spacing: 3px;
        line-height: 1.5;
        font-size: 1.8rem;
    }

    /* section experience */
    .work-info {
        margin: 2rem 0;
        padding: 2rem;
    }

    .work-info h1 {
        margin-bottom: 3rem;
        font-size: 2.4rem;
    }
    
    .work-info h3 {
        margin: 2rem 0 1rem;
        font-size: 2.2rem;
        text-align: left;
    }

    .work-descr {
        padding: 1rem 0;
        font-size: 1.8rem;
        line-height: 1.4;
    }

    /* section skills */
    .tech-wrapper {
        margin: 3rem 0;
    }

    .tech-wrapper h2 {
        margin: 5rem 0;
        font-size: 2.4rem;
    }

    .skills .fab {
        font-size: 7rem;
    }

    .tech-wrapper span {
        font-size: 3rem;
    }

    .education-box {
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .education-box h3 {
        margin: 4rem 0;
        font-size: 2.4rem;
    }

    .school-info {
        margin: 1rem 0;
        padding: 1rem;
    }

    .school-info h2 {
        font-size: 1.8rem;
        padding: .5rem 0;
    }

    .school-info p {
        font-size: 1.6rem;
    }

    /* section hobbies */
    .card-text {
        padding: 4rem 2rem;
    }

    .card-text h1 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    .card-text h3 {
        margin-bottom: 1rem;
        font-size: 1.6rem;
    }

    .card-text p {
        font-size: 1.6rem;
    }

    /* footer */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact h3,
    .contact p,
    .contact a {
        padding: 1.5rem;
        font-size: 1.8rem;
    }

    .contact h3 {
        font-size: 2.4rem;
    }

    .fa-github-square {
        font-size: 1.8rem;
    }

    .contact p:last-child {
        padding-bottom: 1.5rem;
    }
}

@media (min-width: 768px) {

    /* navigation */
    .name {
        font-size: 1.6rem;
    }

    .navbar {
        display: none;
    }

    .nav-mobile {
        display: none;
    }

    .nav ul {
        width: 70%;
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    .link {
        position: relative;
        padding: 1rem 1rem;
        font-size: 1.4rem;
        line-height: 2.5;
        color: var(--primary-color);
        text-decoration: none;
    }

    .link:hover {
        border-bottom: 0;
    }

    .link,
    .link::before,
    .link::after {
        transition: .3s;
    }

    .link::before,
    .link::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
    }

    .link::before {
        top: -2px;
        left: -8px;
        border-top: 0 solid var(--primary-color);
        border-left: 0 solid var(--primary-color);
    }

    .link::after {
        bottom: -2px;
        right: -8px;
        border-bottom: 0 solid var(--primary-color);
        border-right: 0 solid var(--primary-color);
    }

    .link:hover::before,
    .link:hover::after {
        width: 3rem;
        height: 50%;
    }

    .link:hover::before {
        border-top: 1px solid var(--primary-color);
        border-left: 1px solid var(--primary-color);
    }

    .link:hover::after {
        border-bottom: 1px solid var(--primary-color);
        border-right: 1px solid var(--primary-color);
    }

    /* header */
    .header-text h1 {
        font-size: 3rem;
    }

    /* section about */
    .about-container {
        min-height: 70vh;
    }

    .about-image {
        top: 6%;
    }

    .about-image img {
        width: 200px;
        height: 200px;
    }

    .about-info {
        padding: 2.5rem;
    }

    .about-info p {
        line-height: 1.4;
        font-size: 2rem;
    }

    /* section experience */
    .work-info {
        margin: 2rem 1rem;
        padding: 2.5rem;
    }

    .work-info h1 {
        margin-bottom: 3.5rem;
        font-size: 2.8rem;
    }

    .work-info h3 {
        margin: 2rem 0 1rem;
        font-size: 2.4rem;
        text-align: left;
    }

    .company-name {
        font-size: 2rem;
    }

    .work-descr {
        padding: 1rem 0;
        font-size: 2rem;
        line-height: 1.4;
    }

    /* section skills */
    .technologies {
        width: 70%;
    }

    .tech-wrapper h2 {
        margin: 8rem 0;
        font-size: 2.8rem;
    }

    .skills .fab {
        font-size: 8rem;
    }

    
    .tech-wrapper span {
        font-size: 3.2rem;
    }
    
    .education-box h3 {
        margin: 8rem 0;
        font-size: 2.8rem;
    }

    .school-info h2 {
        font-size: 2.2rem;
    }

    .school-info p {
        font-size: 2rem;
    }

    /* section hobbies */
    .hobbies-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 63vh;
    }

    .card {
        margin: 1rem 2rem;
        height: 40vh;
    }
}

@media (min-width: 992px) {

    /* navigation */
    .name {
        font-size: 2rem;
    }

    .nav ul {
        width: 60%;
    }

    .link {
        font-size: 1.6rem;
    }

    .header-text p {
        font-size: 2rem;
    }

    .header-text h1 {
        font-size: 3.6rem;
    }

    /* section hobbies */
    .hobbies-container {
        padding: 3rem;
        height: 65vh;
    }

    .card {
        margin: 1rem 2rem;
        height: 45vh;
    }
}

@media (min-width: 1200px) {

    /* navigation */
    .nav ul {
        width: 50%;
    }

    /* header */
    .header-img {
        background-image: url('./img/header-1280.jpg');
    }

    /* section about */
    .about-container {
        min-height: 75vh;
    }

    .about-image {
        top: 4%;
    }

    .about-image img {
        width: 250px;
        height: 250px;
    }

    .about-info {
        padding: 6rem 3rem 3rem;
    }

    .about-info p {
        word-spacing: 5px;
        line-height: 1.3;
        font-size: 2.2rem;
    }

    /* section experience */
    .experience {
        background-image: url('./img/exp-1280.jpg');
    }
}

@media (min-width: 1400px) {

    /* navigation */
    nav ul {
        width: 40%;
    }

    /* section hobbies */
    .hobbies-container {
        height: 70vh;
    }

    .card {
        margin: 1rem 2.5rem;
        height: 48vh;
    }
}

@media (min-width: 1600px) {

    /* navigation */
    nav ul {
        width: 50%;
    }

    /* header */
    .header-img {
        background-image: url('./img/header-1920.jpg');
    }

    /* section experience */
    .experience {
        background-image: url('./img/exp-1920.jpg');
    }

    /* section hobbies */
    .hobbies-container {
        height: 75vh;
    }

    .card {
        height: 50vh;
    }
}